form(method='POST', action='/user/submit/#{user._id}', id='userForm')
  p Name:
    input(value='#{user.name}', name='name', class='required')
  p Username:
    input(value='#{user.username}', name='username', class='required')
  p Email:
    input(value='#{user.email}', name='email', class='required email')
  p Password:
    input(type='password', id='password', name='password', minlength='5')
  p Confirm Password:
    input(type='password', name='password_confirm', equalto='#password')
  -if (loggedInUser.is_root)
    p Is Root:
      input(type='checkbox', checked=user.is_root, name='is_root')
    p Is Admin:
      input(type='checkbox', checked=user.is_admin, name='is_admin')
  p
    input(type='submit', value='Save')
-if ((loggedInUser.is_root || loggedInUser.is_admin || loggedInUser._id === user._id) && user._id > 0)
  p
    a(href='/user/#{user._id}/remove') Delete Account 
