h1= title
h3 Here's the Posts
p 
  a(href='/post/create') Add Post
p
  h3 Categories
  ul.categories
   - each category in categories
     li 
       a(href='/posts/?category=#{category.name}') #{category.name}
   li
     a(href='/posts/') All Posts
table.posts
  tr
    th Title
    th Category
    th User
    th Created
  - each post in posts
    - date = new Date(post.created_at)
    - postDate= date.toDateString()
    tr
      td
        a(href='/post/#{post._id}') #{post.title} \n
      td= post.category
      td= postUsers[post.user_id]
      td= postDate

